.add-medicine-section{
    display: flex;
    justify-content: space-evenly;
}

.add-medicine-section > .MuiPaper-root{
    width: 40%; 
}

.form-button{
    margin-top: 25px !important;
    margin-left: 65% !important;
}